name: Mirror to Codeberg

on: [push]

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: yesolutions/mirror-action@master
        with:
          REMOTE: "https://codeberg.org/IT-ess/ruma"
          GIT_USERNAME: IT-ess
          GIT_PASSWORD: ${{ secrets.CODEBERG_TOKEN }}
